.snapshot-viewer {
    border-width: 0;
    min-width: 20vw;
    min-height: 20vh;
}

#snapshot-viewer {
  border-top-width: 8px;
  max-width: calc(100vw - 2px - 200px);
  position: absolute;
  overflow-y: auto;
  left: 20px;
  top: 20px;
}

#snapshot-viewer iframe {
  transform-origin: left top;
}

.container {
  margin-top: 20px !important;
}

input[type="number"] {
  max-width: 100px !important;
}
