<div class="ui grid container">
  <div class="row">

  {{#snapshot-viewer id="snapshot-viewer" sendNode=(route-action 'sendNode')}}
    {{snapshot-list model=model loadSnapshot=(route-action 'loadSnapshot') removeSnapshot=(route-action 'removeSnapshot')}}
  {{/snapshot-viewer}}
  </div>
  <div class="row">
  {{outlet}}
  </div>
</div>
